{% extends 'bootstrap/base.html'%}
{% block title%}
NOTE
{% endblock%}


{%block content%}




<div  style="width: 100%; height:70px; line-height: 70px; list-style-type:none; margin:0; padding:0; overflow: hidden; background-color: white;border-bottom:2px solid green ">
    <a href="/"><img src="./static/Screen Shot 2020-06-01 at 1.07.43 PM.png" width="150" height="50" style="float:left; margin:10px"></a>
    <ul style="float:right">

        <li style="float: left; text-align: center;  width:120px; height:70px; line-height:70px; list-style:none; hover background:#dc3545 "><a style="color:green; text-decoration:none; display:block" href="/add">Add products</a></li>
        <li style="float: left; text-align: center;  width:120px; height:70px; line-height:70px; list-style:none"><a style="color:green; text-decoration:none; display:block " href="/buy">Buy Products</a></li>
    </ul>

</div>

<div style="position:relative; top:0px">
    <img src="./static/logo.jpg"  class="img-thumbnail" width="1600" height="1000">
</div>





{%endblock%}