{% extends 'bootstrap/base.html'%}
{% block title%}
NOTE
{% endblock%}


{%block content%}

<div  style="width: 100%; height:70px; line-height: 70px; list-style-type:none; margin:0; padding:0; overflow: hidden; background-color: white;border-bottom:2px solid green;position:fixed ">
    <a href="/"><img src="./static/Screen Shot 2020-06-01 at 1.07.43 PM.png" width="150" height="50" style="float:left; margin:10px"></a>
    <ul style="float:right">

        <li style="float: left; text-align: center;  width:120px; height:70px; line-height:70px; list-style:none; hover background:#dc3545 "><a style="color:green; text-decoration:none; display:block" href="/add">Add products</a></li>
        <li style="float: left; text-align: center;  width:120px; height:70px; line-height:70px; list-style:none"><a style="color:green; text-decoration:none; display:block " href="/buy">Buy Products</a></li>
    </ul>

</div>

<div class="jumbotron" style="background-color:chocolate">
    <div class="container text-center" >
         <h1 style="color:white"> Add a product</h1>
         <a href="/"><button type="button"  class="btn btn-primary"> Go Back</button></a>
    </div>
</div>
<div class="container">
    <form method="POST" >
        <input type="text" class="w3-input" name="Title" placeholder="Title"required>
        <input type="text" name="Description" placeholder="Description"required>
        <input type="number" name="Price" step="0.01" placeholder="$ Price"required>
        <input type="text" name="Unit" placeholder="Unit (in lb)"required>
        <input type="number" name="Quantity" placeholder="Quantity"required>
        <input type="text" name="Image_Link" placeholder="Image Link"required>
        <input type="submit" class="btn btn-danger"  value="Add Product">

    </form>
</div>




{%endblock%}